* {-webkit-font-smoothing: antialiased;}
body {
	font-family: $font;
	font-size: 14px;
	color: $black;
	line-height: 1.4;
	letter-spacing: 0.25px;
}

main {
	overflow-x:hidden;
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #B0BFBC;
}

input, input:focus,
button, button:focus {
	outline: none;
}

ul {
	margin:0px;
	padding:0px;
	list-style: none;
}

img {max-width: 100%;}

.container-max {
	max-width: 1440px;
	margin: 0 auto;
}

.tool-page {
	background: #ECECEC;
}

.max-page {
	.container {
		max-width: 1024px;
	}
}