#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9999;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.site-content {
    padding: 0 !important;
}

.header .navbar-default {
    max-width: 100% !important;
}

#productDetail ul li {
    display: inline-block;
    margin: 5px 0px;
}
.headerShape.active,
.headerSize.active,
.headerCategory.active,
.headerProduct.active{
	color: red !important;
    -webkit-box-shadow: none!important;
    box-shadow: inset 0 -1px 0 rgba(255, 0, 0, 1) !important;
}
.headerClass {
    margin-right: 10px;
}
a.btn-background-layer:focus,
a.btn-background-layer:hover,
a.btn-layer:focus,
a.btn-layer:hover,
a.btn-load-layer:focus,
a.btn-load-layer:hover {
    /*outline: thin dashed;*/
    border: 1px #000 solid;
    /*max-height: 80px;*/
}

#layerCanvas {
    width: 405px;
    height: 405px;
    /*padding-left: 5px;*/
}

.highlight {
    border: 2px solid #31708f !important;
}
.highlightShare {
    border: 2px solid #3c763d !important;
}

.canvas-container {
    height: 0 !important;
}
.layerAction:hover {
    color: #00b9eb;
}
.tooltip {
    z-index: 1040 !important;
}
.tooltip-inner {
    color: black !important;
    background: white !important;
    border: 1px solid #e9ecf3 !important;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #e9ecf3 !important;
}
.slider.slider-horizontal .slider-track {
    height: 5px !important;
    margin-top: 0px !important;
}
.slider-handle {
    top: -8px !important;
    background-color: white !important;
    border: 1px solid #e9ecf3 !important;
    background-image: none !important;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
    background: black !important;
    height: 100% !important;
    top: 0 !important;
    bottom: 0 !important;
}
.slider.slider-horizontal {
    width: calc( 100% - 30px) !important;
    left: 5px;
}
.color-block .select-style-color {
    max-width: 11.286rem !important;
}
.select-custom select {
    top: -5px !important;
}

.customize-product .btn-reset,
.transform .btn-reset {
    top: 0 !important;
}

.btn-reset .icon-reset {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.071rem;
    width: 0.857rem;
    height: 0.857rem;
    background: url('../theme/images/icon-reset.png') no-repeat center;
}

.list-thumb li {
    padding-top: 10px;
}

.btn-layer, .btn-load-layer, .btn-background-layer {
    text-align: center;
    word-wrap: break-word;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0%) !important;
    transform: translate(0, 0%) !important;
}

.modal {
    top: 30px !important;
}

.modal-header ul.popupCategories {
    display: inline-block;
}

.modal-header ul.popupCategories li {
    display: inline-block;
    padding-right: 5px;
}

.modal-body {
    text-align: center;
}

#loadMoreLayerBtn {
    width:20%;
}

#priceRangeSlider {
    width: 90% !important;
    margin: 25px 27px !important;
}
#priceRangeSlider .slider-tick.round {
    opacity: 1 !important;
    margin-top: -8px;
}

embed, iframe, object.canvas-object {
    margin-bottom: 0;
    max-width: 100%;
    pointer-events:none;
}

a.btn-layer {
    width: 60px;
    overflow: hidden;
}

.btn.btn-white i,
.btn.btn-black i {
    font-size: 19px;
    margin-right: 10px;
    vertical-align: middle;
}